<div class="modal fade" id="createSourceModal" tabindex="-1" role="dialog" aria-labelledby="createSourceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSourceModalLabel">Add Source</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createSourceForm">
                    <div class="form-group">
                        <label for="createSourceName">Source Name</label>
                        <input type="text" class="form-control" id="createSourceName" name="SourceName" required />
                    </div>
                    <button type="button" class="btn btn-primary mt-2" onclick="createSource()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>