<div class="modal fade" id="detailIncomeModal" tabindex="-1" role="dialog" aria-labelledby="detailIncomeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailIncomeModalLabel">Detail Income</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="detailIncomeInfo">
                    <div class="form-group">
                        <label>Income Id</label>
                        <input type="text" class="form-control" id="detailIncomeId" name="IncomeId" readonly />
                    </div>
                    <div class="mb-3">
                        <label>Amount</label>
                        <input type="text" class="form-control" id="detailIncomeAmount" name="amount" readonly>
                    </div>
                    <div class="mb-3">
                        <label>Source</label>
                        <input class="form-control" id="detailIncomeSourceName" name="sourceName" readonly></input>
                    </div>
                    <div class="mb-3">
                        <label>Date</label>
                        <input type="date" class="form-control" id="detailIncomeDate" name="date" readonly>
                    </div>
                    <div class="mb-3">
                        <label>Description</label>
                        <textarea type="text" class="form-control" id="detailIncomeDescription" name="dsescription"
                            readonly></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>