<div class="modal fade" id="migrateIncomeModal" tabindex="-1" role="dialog" aria-labelledby="migrateIncomeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="migrateIncomeModalLabel">Migrate Income Source To</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="migrateIncomeForm">
                        <div class='d-flex flex-column' id="checkboxContainer"></div>
                        <button type="button" class="btn btn-primary mt-2" onclick="submitMigration()">Migrate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>