<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryModalLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createCategoryForm">
                    <div class="form-group">
                        <label for="createCategoryName">Category Name</label>
                        <input type="text" class="form-control" id="createCategoryName" name="CategoryName" required />
                    </div>
                    <button type="button" class="btn btn-primary mt-2" onclick="createCategory()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>