<div class="modal fade" id="createExpenseModal" tabindex="-1" role="dialog" aria-labelledby="createExpenseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createExpenseModalLabel">Create Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="crateExpenseForm">
                    <div class="form-group">
                        <label for="createExpenseAmount"></label>
                        <input type="text" class="form-control" id="createExpenseAmount" placeholder="Enter Amount">
                    </div>
                    <div class="mb-3">
                        <label for="createExpenseCategoryId">Category</label>
                        <select class="form-control" id="createExpenseCategoryId"></select>
                    </div>
                    <div class="mb-3">
                        <label for="createExpenseDate">Date</label>
                        <input type="date" class="form-control" id="createExpenseDate">
                    </div>
                    <div class="mb-3">
                        <label for="createExpenseDescription">Description</label>
                        <textarea type="text" class="form-control" id="createExpenseDescription"
                            placeholder="Enter Description"></textarea>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createExpense()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>