@{
    ViewData["Title"] = "TaskWorks";
}

<div class="pagetitle">
    <h1>Activity Tasks (Reminders)</h1>
    <nav>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
            <li class="breadcrumb-item">Activity Tasks</li>
        </ul>
    </nav>
    <div class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TaskCategoryModal">
            <i class="bi bi-journal-plus"></i> Create Task Category
        </button>
    </div>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Task Work Management</h5>
                <div class="nav-item filter" style="padding-right: 30px">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#CreateTaskWorkModal">
                        <i class="bi bi-journal-plus"></i> Create Task Work
                    </button>
                </div>
                <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="listTasWork" data-bs-toggle="tab"
                            data-bs-target="#TaskWorkTab" type="button" role="tab" aria-selected="true">Task
                            Work</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="listCriticalTask" data-bs-toggle="tab"
                            data-bs-target="#CriticalTaskTab" type="button" role="tab" aria-selected="false">Critical
                            Task</button>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="borderedTabContent">
                    <div class="tab-pane fade show active" id="TaskWorkTab" role="tabpanel"
                        aria-labelledby="listTasWork">
                        <div id="taskWorkTableContainer">
                            <!-- Table loaded via AJAX -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="CriticalTaskTab" role="tabpanel" aria-labelledby="listCriticalTask">
                        <div id="criticalTaskTableContainer">
                            <!-- Critical Table loaded via AJAX -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="TaskCategoryModal"></partial>
<partial name="CreateTaskWorkModal"></partial>

@section scripts {
    <script type="text/javascript" src="~/js/TaskCategory.js"></script>
    <script type="text/javascript" src="~/js/taskWork.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/datatables.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdowns = document.querySelectorAll('.task-priority-dropdown');

            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('change', function () {
                    var selectedOption = dropdown.options[dropdown.selectedIndex];
                    var priorityClass = 'option-' + selectedOption.value.toLowerCase();

                    dropdown.classList.remove('option-high', 'option-medium', 'option-low');
                    dropdown.classList.add(priorityClass);
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var dropdowns = document.querySelectorAll('.task-stage-dropdown');

            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('change', function () {
                    var selectedOption = dropdown.options[dropdown.selectedIndex];
                    var priorityClass = 'option-' + selectedOption.value.toLowerCase();

                    dropdown.classList.remove('option-notstarted', 'option-inprogress', 'option-reviewing', 'option-completed');
                    dropdown.classList.add(priorityClass);
                });
            });
        });
        function convertISOToCustomFormat(isoDate) {
            return moment(isoDate, 'DD/MM/YYYY HH:mm:ss').format('D-MMM-YYYY');
        }

        $(".datepicker").each(function () {
            var isoDate = $(this).text();
            var customFormat = convertISOToCustomFormat(isoDate);
            $(this).text(customFormat);
        });
    </script>
}